<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDy7xhLPdAfsmpnR1s37O7nlRDSbZSJdmE</string>
	<key>GCM_SENDER_ID</key>
	<string>470527456424</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.miniproj</string>
	<key>PROJECT_ID</key>
	<string>xrg-mini-proj</string>
	<key>STORAGE_BUCKET</key>
	<string>xrg-mini-proj.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:470527456424:ios:ef272820e9777f69a77e9d</string>
</dict>
</plist>